@media screen and (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 25px;
        place-items: center;
    }

    #menu {
        display: none;
    }
}